---
---

@import "{{ site.theme }}";

body {
  font-family: 'DDINRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

a {
  color: #D43E37;
}

a:hover {
  color: red;
}

#header_wrap {
  /* background: -webkit-linear-gradient(top, #D43E37, red); */
  background: red;
  border-bottom: none;
  text-shadow: none;
}

#main_content_wrap {
  background: white;
}

#footer_wrap {
  border-top: none;
  background: red;
}

#project_title {
  text-align: center;
  font-size: 72pt;
}

#github-notice {
  display: none;
}


#footer_wrap li {
  display: inline-block;
}





