---
---

@import "{{ site.theme }}";

h1,h2,h3,h4,h5,h6,
body {
  font-family: 'DDINRegular'; 
  font-weight: normal; 
  font-style: normal; 
}


a {
  color: #D43E37;
}

a:hover {
  color: red;
}

#header_wrap {
  /* background: -webkit-linear-gradient(top, #D43E37, red); */
  background: red;
}

#main_content_wrap {
  background: white;
  border-top: none !important;
  border-bottom: none !important;
}

h3#send-your-events {
  text-align: center;
}

#footer_wrap {
  background: red;
}

#project_title {
  text-align: center;
  font-size: 72pt;
  text-shadow: none !important;
}

#project_tagline {
  text-align: center;
  text-shadow: none !important;
  color: black !important;
}

#github-notice {
  display: none;
}


#footer_wrap li {
  display: inline-block;
}

#footer_wrap ul {
  padding-left: 0;
  text-align: center;
}


#footer_wrap a {
  text-decoration: none !important;
}
#footer_wrap a:hover {
  color: black;
  text-decoration: none !important;
}



